<div class="container mt-3 pb-3">
	<div class="card">
		<div class="card-header p-3 bg-primary text-white">
			Informações do item a ser doado:
		</div>

		<div class="card-body">
			<form [formGroup]="form" (submit)="save()">
				<div class="row">
					<div class="col-sm-8">
						<mat-form-field class="w-100" [floatLabel]="'always'" appearance="outline">
							<mat-label>Descrição</mat-label>
							<input matInput type="text" formControlName="description" placeholder="Descreva o item a ser doado" />
							<mat-error>Obrigatório</mat-error>
						</mat-form-field>
					</div>
					<div class="col-sm-4 ps-0">
						<mat-form-field class="w-100" [floatLabel]="'always'" appearance="outline">
							<mat-label>Tipo de Item</mat-label>
							<mat-select formControlName="idItemType" placeholder="Selecione o tipo de item">
								<mat-option *ngFor="let itemType of itemTypes" [value]="itemType.idItemType">
									{{ itemType.name }}
								</mat-option>
							</mat-select>
							<mat-error>Obrigatório</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<mat-form-field class="w-100" [floatLabel]="'always'" appearance="outline">
							<mat-label>Quantidade</mat-label>
							<input matInput type="number" formControlName="quantity" placeholder="Quantidade doada" />
							<mat-error>Obrigatório</mat-error>
						</mat-form-field>
					</div>
					<div class="col-sm-5 ps-0">
						<mat-form-field class="w-100" [floatLabel]="'always'" appearance="outline">
							<mat-label>Cidade</mat-label>
							<input matInput type="text" formControlName="city" placeholder="Cidade onde o item está" />
							<mat-error>Obrigatório</mat-error>
						</mat-form-field>
					</div>
					<div class="col-sm-3 ps-0">
						<mat-form-field class="w-100" [floatLabel]="'always'" appearance="outline">
							<mat-label>Estado</mat-label>
							<mat-select formControlName="state" placeholder="Selecione o estado">
								<mat-option *ngFor="let state of states" [value]="state.id">
									{{ state.name }}
								</mat-option>
							</mat-select>
							<mat-error>Obrigatório</mat-error>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<button type="button" class="btn btn-secondary" (click)="cancel()">Voltar</button>
					</div>
					<div class="col text-end">
						<button class="btn btn-primary ms-auto" type="submit" [disabled]="form.invalid">
							<span *ngIf="idDonation > 0">
								<fa-icon [icon]="faSave"></fa-icon>
								Salvar Doação
							</span>
							<span *ngIf="!(idDonation > 0)">
								<fa-icon [icon]="faPlus"></fa-icon>
								Adicionar
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="card mt-3" [hidden]="!(idDonation > 0)">
		<div class="card-header">
			<span>Fotos do item a ser doado:</span>
			<button class="btn btn-primary float-end" (click)="openUploadModal()">
				<fa-icon [icon]="faPlus"></fa-icon>
				Adicionar
			</button>
		</div>

		<div class="card-body">
			<div class="d-flex">
				<div *ngFor="let photo of photos" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 photo p-1">
					<img [src]="getPhotoURL(photo.link)" class="img-fluid rounded-start">
					<div class="remove-photo text-center" (click)="removePhoto(photo)">
						<fa-icon [icon]="faTimes"></fa-icon>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card mt-3" [hidden]="!(idDonation > 0)">
		<div class="card-header">
			<span>Solicitações de doação:</span>
		</div>

		<div class="card-body">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Justificativa</th>
						<th class="actions text-center">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let solicitation of solicitations">
						<td>{{ solicitation.user.name || "-" }}</td>
						<td>{{ solicitation.justification }}</td>
						<td class="text-center">
							<button class="btn btn-sm btn-primary" (click)="confirmDonation(solicitation)" title="Aprovar Doação">
								<fa-icon [icon]="faCheck"></fa-icon> Aprovar
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Modal de Upload de Fotos -->
<ng-template #modal>
	<div class="modal-header">
		<h4 class="modal-title m-0">Adicionar Foto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
	</div>
	<form [formGroup]="uploadForm" class="form" (submit)="uploadPhoto()">
		<div class="modal-body">
			<div class="form-row">
				<div class="form-group col-12 w-100">
					<label class="mb-1">Imagem (png, jpg ou jpeg):</label>
					<app-file-upload formControlName="image" [invalid]="uploadForm.controls.image.invalid"></app-file-upload>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary me-auto" (click)="modalRef?.hide()">Cancelar</button>
			<button type="submit" class="btn btn-primary" [disabled]="uploadForm.invalid">
				<fa-icon [icon]="faUpload"></fa-icon>
				Upload
			</button>
		</div>
	</form>
</ng-template>
